{%- extends '../.index.jinja2' -%}
{%- block head -%}
<script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>
<script src="{{ request.static_url('webkit:templates/static/general.min.js') }}" type="text/javascript"></script>
{%- endblock -%}
{%- block main -%}
<div id="contactform" class="container">
<form is="sform" target="/en/webkit/external/contactform.json">
  <input type="hidden" name="token" value="nmxKJiuydskj-asKHJksn3747" />
  <div slot="ok" v-cloak>
    <h1>Спасибо!</h1>
    <p>Ваше сообщение было отправлено.</p>
  </div>
  <h1>Контакт</h1>
  <div class="row margin-bottom">
    <section class="column">
      <label for="name">Имя&nbsp;&nbsp;<span class="icon fa-asterisk">*</span></label>
      <input class="input" type="text" value="" name="name">
      <label for="email">Электронная почта&nbsp;&nbsp;<span class="icon fa-asterisk">*</span></label>
      <input class="input" type="text" value="" name="email">
      <label for="phone">Телефон</label>
      <input class="input" type="text" value="" name="phone">
    </section>
    <section class="column">
      <label for="message">Сообщение&nbsp;&nbsp;<span class="icon fa-asterisk">*</span></label>
      <textarea class="input" type="" name="message" style="min-height: 14.5rem;"></textarea>
      <button class="button" type="submit" value="send" name="action">Послать</button>
    </section>
  </div>
</form>
</div>
<script lang="text/javascript">var v = new Vue({el: '#contactform'});</script>
{%- endblock -%}
