{{ define `hero` }}
<div id="logo">
  <img src="/static/img/logo.svg" />
</div>
{{ end }}

{{ define `main` }}
<section class="content">{{ .content }}</section>
<br /><br />
<section class="columns has-text-centered">
  <a class="column" href="services.html">
    <img src="static/img/service.jpg" /><br /><br />
    <span class="button">Гостям</span>
  </a>
  <a class="column" href="about.html">
    <img src="static/img/congregation.jpg" /><br /><br />
    <span class="button">О Нас</span>
  </a>
  <a class="column" href="sermons.html">
    <img src="static/img/pastor.jpg" /><br /><br />
    <span class="button">Проповеди</span>
  </a>
</section>

{{ end }}

{{/*<!-- <br /><br />
<section class="columns content">
{ range $i, $chunk := mdchunk (include `news.md`) }
<div class="column">
{ $chunk}
</div>
{if zeromod $i 3 }
</section><section class="columns">
{ end }
{ end }
</section> -->*/}}
